@use "./" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family;

  @include respond(laptop /*minwidth:1200px*/) {
    font-size: 62.5%; //1rem = 12px, 12/16=75%
  }

  @include respond(desktop /*minwidth:1800px*/) {
    font-size: $font-desktop; //1rem = 12px, 12/16=75%
  }

  @include respond(tab-land /*maxwidth:1200px*/) {
    font-size: $font-tabland; //1rem = 9px, 9/16=56.25%
  }

  @include respond(tab-port /*maxwidth:900px*/) {
    font-size: $font-tabport; //1rem = 8px, 8/16=50%
  }
}

.slider {
  background-color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20vh;
  width: 70vw;
  position: absolute;
  overflow: hidden;

  @include respond(phone /*maxwidth:600px*/) {
    width: 55vw;
  }

  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }

  &__inner {
    position: absolute;
    width: 207.1%;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* Bu olmadan buglı çalışıyor slider
       Herhangi bir elementin hedeflenmesini engellemek için
    */
    pointer-events: none;

    @include respond(tab-port /*maxwidth:900px*/) {
      width: 300%;
    }

    @include respond(phone /*maxwidth:600px*/) {
      width: 600%;
    }

    &--item {
      background-color: aliceblue;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      width: 20vw;

      @include respond(tab-port /*maxwidth:900px*/) {
        width: 46vw;

        &:not(:last-child) {
          margin-right: 1rem;
        }
      }

      @include respond(phone /*maxwidth:600px*/) {
        width: 85vw;
      }
    }
  }
}
